Looping through a list

In [1]:
num_list= [42, 56, 39, 59, 99]

In [3]:
# Looping through list using range()

for i in range(len(num_list)): 
    print(i, num_list[i])

0 42
1 56
2 39
3 59
4 99

In [4]:
# Looping through list using enumerate()

for index, element in enumerate(num_list):
    print(index, element)

0 42
1 56
2 39
3 59
4 99

In [5]:
# List of tuples using enumerate()

name_list = ['Jane', 'John', 'Mike']

list(enumerate(name_list))

[(0, 'Jane'), (1, 'John'), (2, 'Mike')]

lambda expressions

In [13]:
def square(num):
   return num**2

In [14]:
square(3)

9

In [7]:
square = lambda num:num**2

In [8]:
square(3)

9

In [9]:
# using def keyword that returns the sum of num1 and num2
def sum(num1, num2):
  return num1 + num2

In [10]:
sum(5,9)

14

In [11]:
# can assign the lambda function to a variable
sum = lambda num1, num2: num1 + num2

In [12]:
sum(5,9)

14

map and filter functions

In [15]:
num_list_squared = list(map(square, [1,2,3,4,5]))

In [16]:
num_list_squared

[1, 4, 9, 16, 25]

In [17]:
num_list_even = list(filter(lambda num:num%2==0, [1,2,3,4,5]))

In [18]:
num_list_even

[2, 4]

reduce function

In [19]:
from functools import reduce

In [20]:
product = reduce(lambda x,y:x*y, [1,2,3,4,5])

In [21]:
product

120

In [22]:
sum = reduce(lambda x,y:x+y, [1,2,3,4,5])

In [23]:
sum

15

In [26]:
max_num = reduce(lambda x,y:x if x > y else y, [1,2,3,4,5,3])

In [27]:
max_num

5

In [28]:
min_num = reduce(lambda x,y:x if x < y else y, [1,2,3,4,5,3])

In [29]:
min_num

1

return a list that contains the numbers that occured more than once

In [1]:
def count(num_list):
    result = []
    
    for num in num_list:
        if num_list.count(num) > 1 and num not in result:
            result.append(num)
            
    return result

In [2]:
count([1,1,1,3,4,5,4,6,7,7])

[1, 4, 7]

In [3]:
def count(num_list):
    
    return set([num for num in num_list if num_list.count(num) > 1])

In [4]:
count([1,1,1,3,4,5,4,6,7,7])

{1, 4, 7}

find the factorial

In [16]:
def factorial(num):
    product = 1
    
    for num in range(1,num+1):
        product *= num
    
    return product

In [17]:
factorial(3)

6

In [15]:
from functools import reduce

In [11]:
def factorial(num):
    return reduce(lambda x,y:x*y, range(1,num+1))

In [13]:
factorial(3)

6

In [19]:
import numpy as np

In [20]:
def factorial(num):
    return np.prod(range(1,num+1))

In [21]:
factorial(3)

6

is string a palindrome

In [22]:
def pallindrome(string):
    return string == string[::-1]

In [23]:
pallindrome('hello')

False

In [24]:
pallindrome('lol')

True

id counter

In [53]:
def id_counter(ids):
    id_dict = {}
    
    for id in ids:
        if id.split('-')[1] not in id_dict:
            id_dict[id.split('-')[1]] = 1
        else:
            id_dict[id.split('-')[1]] += 1
    
    return id_dict

In [54]:
d = ['adf-ID', 'adf-ID', 'df-UI']

In [55]:
id_counter(d)

{'ID': 2, 'UI': 1}

In [60]:
def id_counter(ids):
    id_dict = {}
    
    for id in ids:
        id_dict[id.split('-')[1]] = id_dict.get(id.split('-')[1], 0) + 1
    
    return id_dict

In [61]:
id_counter(d)

{'ID': 2, 'UI': 1}

In [56]:
def id_counter(ids):
    id_dict = {}
    ids = [id.split('-')[1] for id in ids]
    
    for id in ids:
        id_dict[id] = ids.count(id)

    return id_dict

In [57]:
id_counter(d)

{'ID': 2, 'UI': 1}

In [58]:
def id_counter(ids):
    ids = [id.split('-')[1] for id in ids]
    
    return {id : ids.count(id) for id in ids}

In [59]:
id_counter(d)

{'ID': 2, 'UI': 1}

sorting

In [84]:
d = {'b':1,'a':3,'c':4}

In [87]:
d_i = sorted(d.items(), key=lambda kv:kv[1])

In [88]:
d_i

[('b', 1), ('a', 3), ('c', 4)]

In [91]:
list_of_tuples = [
    ('john', 27, 45000),
    ('jane', 25, 65000),
    ('beth', 31, 70000)
]

In [92]:
sorted_age_list = sorted(list_of_tuples, key = lambda person: person[1])

In [93]:
sorted_age_list

[('jane', 25, 65000), ('john', 27, 45000), ('beth', 31, 70000)]

In [95]:
sorted(list_of_tuples, key = lambda person: person[0])

[('beth', 31, 70000), ('jane', 25, 65000), ('john', 27, 45000)]

In [96]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [97]:
num_tuple = (5,2,53,9,25)

In [98]:
sorted(num_tuple)

[2, 5, 9, 25, 53]

In [102]:
sorted('dinosaur')

['a', 'd', 'i', 'n', 'o', 'r', 's', 'u']

In [103]:
dictionary_of_names = {'beth': 37, 'jane': 32, 'john': 41, 'mike': 59}

In [108]:
print(sorted(dictionary_of_names))

['beth', 'jane', 'john', 'mike']

In [114]:
print(dictionary_of_names.items())

dict_items([('beth', 37), ('jane', 32), ('john', 41), ('mike', 59)])

In [121]:
new_dict = sorted(dictionary_of_names.items(), key=lambda kv:kv[1])

In [122]:
new_dict

[('jane', 32), ('beth', 37), ('john', 41), ('mike', 59)]

In [123]:
print(dict(new_dict))

{'jane': 32, 'beth': 37, 'john': 41, 'mike': 59}

In [117]:
new_dict_2 = sorted(dictionary_of_names.items())

In [118]:
new_dict_2

[('beth', 37), ('jane', 32), ('john', 41), ('mike', 59)]

In [2]:
# can't compare strings to nums or vice versa

sorted(['a','c','b',1,5,2])

TypeError: '<' not supported between instances of 'int' and 'str'

In [126]:
num_list = [1,-5,3,-9,25,10]
def absolute_value(num):
    return abs(num)
num_list.sort(key = absolute_value)
print(num_list) 
# [1,3,-5,-9,10,25]

[1, 3, -5, -9, 10, 25]

In [3]:
num_list = [1,-5,3,-9,25,10]

num_list.sort(key = abs)
print(num_list) 
# [1,3,-5,-9,10,25]

[1, 3, -5, -9, 10, 25]

In [4]:
num_list = [1,-5,3,-9,25,10]

num_list.sort(key = lambda x:abs(x))
print(num_list) 
# [1,3,-5,-9,10,25]

[1, 3, -5, -9, 10, 25]

In [145]:
# sort dictionaries

list_of_tuples = [
    ('john', 27, 45000),
    ('jane', 25, 65000),
    ('joe', 25, 35000),
    ('beth', 31, 70000)
]

In [146]:
sorted(list_of_tuples, key=operator.itemgetter(1,2))

[('joe', 25, 35000),
 ('jane', 25, 65000),
 ('john', 27, 45000),
 ('beth', 31, 70000)]

formatting strings

format method vs f strings

In [2]:
first_name = 'John'
last_name = 'Doe'
age = 43

In [10]:
sentence = '{} {} is {} years old'.format(first_name, last_name, age)

In [11]:
sentence

'John Doe is 43 years old'

In [4]:
sentence = first_name + ' ' + last_name + ' is ' + str(age) + ' years old'

In [5]:
sentence

'John Doe is 43 years old'

In [6]:
first_name = 'John'
last_name = 'Doe'
age = 43
sentence = '{first} {last} is {age_yrs} years old'.format(last=last_name, age_yrs=age, first=first_name)
print(sentence)
# 'John Doe is 43 years old'

John Doe is 43 years old

In [7]:
first_name = 'John'
last_name = 'Doe'
age = 43
sentence = f'{first_name} {last_name} is {age} years old'
print(sentence)
# 'John Doe is 43 years old'

John Doe is 43 years old

In [13]:
first_name = 'John'
last_name = 'Doe'
age = 43
sentence = f'{first_name.upper()} {last_name.lower()} is {age} years old'
print(sentence)
# 'JOHN doe is 43 years old'

JOHN doe is 43 years old

In [2]:
first_name = 'John'
last_name = 'Doe'
age = 43
sentence = f'{last_name, first_name} is {age} years old'
print(sentence)
# 'John Doe is 43 years old'

('Doe', 'John') is 43 years old

In [3]:
first_name = 'John'
last_name = 'Doe'
age = 43
sentence = f'{last_name.upper(), first_name.lower()} is {age} years old'
print(sentence)
# 'John Doe is 43 years old'

('DOE', 'john') is 43 years old

expressions within {} in f-string

In [4]:
sentence = f'{5 * 5} years old'
print(sentence)

25 years old

list comprehensions within f strings

In [7]:
sentence = f'Hello list: {[x**2 for x in range(3)]}'
print(sentence)

Hello list: [0, 1, 4]

map function within {} in f-string

In [9]:
sentence = f'Hello list: {list(map(lambda x: x**2, range(3)))}'
print(sentence)

Hello list: [0, 1, 4]

set vs. lists

In [1]:
num_list = [1,3,5,3,2,5,5]

In [2]:
num_list

[1, 3, 5, 3, 2, 5, 5]

In [3]:
set(num_list)

{1, 2, 3, 5}

In [4]:
len(num_list)

7

In [6]:
len(set(num_list))

4

can check if there are duplicates using sets and lists

In [9]:
def duplicates_present(nums):
    return len(nums) != len(set(nums))

In [10]:
duplicates_present(num_list)

True

In [11]:
duplicates_present([1,2,3])

False

return a sequence of the duplicates present using sets and lists

In [12]:
def duplicates(nums):
    return set([num for num in nums if nums.count(num) > 1])

In [13]:
duplicates(num_list)

{3, 5}

In [14]:
duplicates([1,2,3])

set()

In [15]:
def duplicates(nums):
    duplicates = set([num for num in nums if nums.count(num) > 1])
    return duplicates if len(duplicates) > 0 else 'No Duplicates'

In [16]:
duplicates(num_list)

{3, 5}

In [17]:
duplicates([1,2,3])

'No Duplicates'

iterables and iterators

In [1]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [2]:
num_list = [1,2,3,4,5]

In [3]:
dir(num_list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [5]:
num_list_iterator = iter(num_list)

In [6]:
dir(num_list_iterator)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__length_hint__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [8]:
num_list = [1,2,3,4,5]

In [9]:
num_list_iterator = iter(num_list)

In [10]:
next(num_list_iterator)

1

In [11]:
next(num_list_iterator)

2

In [12]:
next(num_list_iterator)

3

In [13]:
next(num_list_iterator)

4

In [14]:
next(num_list_iterator)

5

In [15]:
next(num_list_iterator)

StopIteration:

In [25]:
num_list_iterator = iter(num_list)

In [24]:
next(num_list_iterator)

StopIteration:

In [29]:
print(*num_list_iterator)

1 2 3 4 5

In [30]:
print(*num_list)

1 2 3 4 5

In [38]:
dir(range(1,6))

['__bool__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index',
 'start',
 'step',
 'stop']

In [37]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [40]:
num_list = [1, 2, 3, 4, 5]
num_list_iterator = iter(num_list)

while True:
    try:
        num = next(num_list_iterator)
        print(num)
    except StopIteration:
        break

1
2
3
4
5

dict comprehensions

In [14]:
num_list = [1,1,7,3,5,3,2,9,5,1,3,2,2,2,2,2,9]

In [15]:
num_dict = {num:num_list.count(num) for num in num_list}

In [16]:
num_dict

{1: 3, 7: 1, 3: 3, 5: 2, 2: 6, 9: 2}

In [17]:
num_list = [1,1,7,3,5,3,2,9,5,1,3,2,2,2,2,2,9]
count_dict = {}
for num in num_list:
    count_dict[num] = num_list.count(num)
print(count_dict)

{1: 3, 7: 1, 3: 3, 5: 2, 2: 6, 9: 2}

sorting a dictionary

In [11]:
num_dict.items()

dict_items([(1, 3), (7, 1), (3, 3), (5, 2), (2, 6), (9, 2)])

In [13]:
dict(sorted(num_dict.items(), key=lambda x:x[1]))

{7: 1, 5: 2, 9: 2, 1: 3, 3: 3, 2: 6}

In [18]:
num_list = [1,1,7,3,5,3,2,9,5,1,3,2,2,2,2,2,9]
count_dict = {num:num_list.count(num) for num in num_list if num_list.count(num)%2==0}
print(count_dict)

{5: 2, 2: 6, 9: 2}

In [19]:
num_list = [1,1,7,3,5,3,2,9,5,1,3,2,2,2,2,2,9]
count_dict = {num:num_list.count(num) for num in num_list}
sorted_dict = dict(sorted(num_dict.items(), key=lambda x:x[1]))
print(sorted_dict)

{7: 1, 5: 2, 9: 2, 1: 3, 3: 3, 2: 6}

In [20]:
num_list = [1,1,7,3,5,3,2,9,5,1,3,2,2,2,2,2,9]
count_dict = {num:num_list.count(num) for num in num_list}
sorted_dict = dict(sorted(count_dict.items(), key=lambda x:x[1]))
print(sorted_dict)

{7: 1, 5: 2, 9: 2, 1: 3, 3: 3, 2: 6}

zip()
zipping and unzipping iterable objects

In [21]:
list_1 = ['Jane', 'John', 'Jennifer']
list_2 = ['Doe', 'Williams', 'Smith']
list_4 = ['Doe', 'Doe']
list_3 = []

In [23]:
list(zip(list_4, list_1))

[('Doe', 'Jane'), ('Doe', 'John')]

In [17]:
list(zip(list_1, list_2))

[('Jane', 'Doe'), ('John', 'Williams'), ('Jennifer', 'Smith')]

In [22]:
list(zip(list_1, list_4))

[('Jane', 'Doe'), ('John', 'Doe')]

In [6]:
List_1, List_2 = list(zip(*zip(list_1, list_2)))

In [9]:
list(List_1)

['Jane', 'John', 'Jennifer']

In [10]:
list(List_2)

['Doe', 'Williams', 'Smith']

In [12]:
list(zip(list_1))

[('Jane',), ('John',), ('Jennifer',)]

In [13]:
list(zip(list_3))

[]

In [ ]:
next()

In [18]:
first_names = ['Jane', 'John', 'Jennifer']
last_names = ['Doe', 'Williams', 'Smith']
ages = [20, 40, 30]
names_and_ages = list(zip(first_names, last_names, ages))
print(names_and_ages)

[('Jane', 'Doe', 20), ('John', 'Williams', 40), ('Jennifer', 'Smith', 30)]

In [20]:
first_names = ['Jane', 'John', 'Jennifer']

print(list(zip(first_names)))

[('Jane',), ('John',), ('Jennifer',)]

In [24]:
first_names = ['Jane', 'John', 'Jennifer']
last_names = ['Doe', 'Williams', 'Smith', 'Jones']
full_names = list(zip(first_names, last_names))
print(full_names)
# [('Jane', 'Doe'), ('John', 'Williams'), ('Jennifer', 'Smith')]

[('Jane', 'Doe'), ('John', 'Williams'), ('Jennifer', 'Smith')]

In [25]:
first_names = ['Jane', 'John', 'Jennifer']
last_names = ['Doe', 'Williams', 'Smith', 'Jones']

for first, last in zip(first_names, last_names):
    print(first, last)

Jane Doe
John Williams
Jennifer Smith

In [26]:
first_names = ['Jane', 'John', 'Jennifer']
last_names = ['Doe', 'Williams', 'Smith']
ages = [20, 40, 30]

for first, last, age in zip(first_names, last_names, ages):
    print(f'{first} {last} is {age} years old')

Jane Doe is 20 years old
John Williams is 40 years old
Jennifer Smith is 30 years old

In [27]:
first_and_last_names = [('Jane', 'Doe'), ('John', 'Williams'), ('Jennifer', 'Smith')]

unzipping

In [1]:
first_names, last_names = zip(*first_and_last_names)

NameError: name 'first_and_last_names' is not defined

In [34]:
first_names = list(first_names)

last_names = list(last_names)

print(first_names)
print(last_names)

['Jane', 'John', 'Jennifer']
['Doe', 'Williams', 'Smith']

In [35]:
first_names, last_names = zip(*first_and_last_names)
first_names = list(first_names)
last_names = list(last_names)

print(first_names)
# ['Jane', 'John', 'Jennifer']

print(last_names)
# ['Doe', 'Williams', 'Smith']

['Jane', 'John', 'Jennifer']
['Doe', 'Williams', 'Smith']

In [37]:
first_and_last_names = [('Jane', 'Doe'), ('John', 'Williams'), ('Jennifer', 'Smith')]

first_names, last_names = zip(first_and_last_names[0], first_and_last_names[1], first_and_last_names[2])

print(first_names)
# ['Jane', 'John', 'Jennifer']

print(last_names)
# ['Doe', 'Williams', 'Smith']

('Jane', 'John', 'Jennifer')
('Doe', 'Williams', 'Smith')

In [1]:
revenue = [30000, 50000, 70000, 90000]
cost = [10000, 15000, 20000, 30000]
profit = []
total_profit = 0

for revenue, cost in zip(revenue, cost):
    profit.append(revenue - cost)
    total_profit += revenue - cost

print(profit)

print(total_profit)

[20000, 35000, 50000, 60000]
165000

In [2]:
revenue = [30000, -10000, 50000, 70000, 90000]
cost = [10000, 10000, 15000, 20000, 30000]
profit = []
total_profit = 0

for revenue, cost in zip(revenue, cost):
    profit.append(revenue - cost)
    total_profit += revenue - cost

print(profit)

print(total_profit)

[20000, -20000, 35000, 50000, 60000]
145000

sorting a dictionary

In [8]:
nums = [1,1,7,3,5,3,2,9,5,1,3,2,2,2,2,2,9]

In [9]:
def count(num_list):
    count_dict = {}
    for num in num_list:
        count_dict[num] = num_list.count(num)
    return dict(sorted(count_dict.items(), key=lambda x:x[1]))

In [10]:
count(nums)

{7: 1, 5: 2, 9: 2, 1: 3, 3: 3, 2: 6}

In [4]:
def count(num_list):
    count_dict = {num:num_list.count(num) for num in num_list}
    return dict(sorted(count_dict.items(), key=lambda x:x[1]))

In [5]:
count(num_list)

{7: 1, 5: 2, 9: 2, 1: 3, 3: 3, 2: 6}

In [6]:
def count(num_list):
    return dict(sorted({num:num_list.count(num) for num in num_list}.items(), key=lambda x:x[1]))

# {7: 1, 5: 2, 9: 2, 1: 3, 3: 3, 2: 6}

In [7]:
count(num_list)

{7: 1, 5: 2, 9: 2, 1: 3, 3: 3, 2: 6}

args and kwargs

In [1]:
grocery_list = []
def add_items(item):
    grocery_list.append(item)

add_items('apple')
grocery_list

['apple']

In [2]:
add_items('banana')

In [3]:
grocery_list

['apple', 'banana']

In [6]:
grocery_list = []
def add_items(*items):
    print(items)
    grocery_list.extend(items)
add_items('apples', 'bananas','sugar')
print(grocery_list)
#['apples']

('apples', 'bananas', 'sugar')
['apples', 'bananas', 'sugar']

In [7]:
add_items('bread', 'pasta')
print(grocery_list)
#('apples', 'bananas', 'sugar')
#['apples', 'bananas', 'sugar']

('bread', 'pasta')
['apples', 'bananas', 'sugar', 'bread', 'pasta']

caesar cipher

In [213]:
abc = 'abcdefghijklmnopqrstuvwxyz'

import string

abc = string.ascii_lowercase

In [214]:
import string

abc = string.ascii_lowercase

In [215]:
# does not assume it will go out of bounds

def encrypt(msg, n):
    return ''.join([abc[(abc.index(letter)+n)%26] if letter in abc else letter for letter in msg])

In [216]:
encrypt('hello how are you',5)

'mjqqt mtb fwj dtz'

In [230]:
def encrypt(msg, n):
    return ''.join(map(lambda x:abc[(abc.index(x)+n)%26] if x in abc else x,msg))

In [218]:
def decrypt(coded, n):
    return ''.join(map(lambda x:abc[(abc.index(x)-n)%26] if x in abc else x,coded))

In [219]:
decrypt('mjqqt mtb fwj dtz?',5)

'hello how are you?'

In [220]:
encrypt('hello how are you?',20)

'byffi biq uly sio?'

In [221]:
decrypt('byffi biq uly sio?',20)

'hello how are you?'

In [224]:
num_list = [1,2,3,4,5]

In [225]:
filter(lambda x:x%2!=0, num_list)

In [228]:
from functools import reduce

In [229]:
reduce(lambda x,y: x*y, filter(lambda x:x%2!=0, num_list))

15

In [233]:
encrypt('how are you?',2)

'jqy ctg aqw?'

In [235]:
decrypt('jqy ctg aqw?',2)

'how are you?'

slicing

In [17]:
ls = [0,5,10,15,20,25,30,35,40]

In [18]:
ls[::-1]

[40, 35, 30, 25, 20, 15, 10, 5, 0]

In [19]:
ls[2:-1]

[10, 15, 20, 25, 30, 35]

In [20]:
ls[-7:-1]

[10, 15, 20, 25, 30, 35]

In [21]:
ls[-7:8]

[10, 15, 20, 25, 30, 35]

In [22]:
ls[::2]

[0, 10, 20, 30, 40]

In [23]:
ls[::]

[0, 5, 10, 15, 20, 25, 30, 35, 40]

In [24]:
ls[::-1]

[40, 35, 30, 25, 20, 15, 10, 5, 0]

In [25]:
'Python'[::-1]

'nohtyP'

In [26]:
(1,2,3,4,5,6)[::-1]

(6, 5, 4, 3, 2, 1)

In [27]:
ls[2:12]

[10, 15, 20, 25, 30, 35, 40]

In [28]:
num_list = [0,5,10,15,20,25,30,35,40]

In [29]:
num_list[2:5] = [1,2,3]

In [30]:
num_list

[0, 5, 1, 2, 3, 25, 30, 35, 40]

In [31]:
num_list[2:5]=[1,2,3,4,5,6]

In [32]:
num_list

[0, 5, 1, 2, 3, 4, 5, 6, 25, 30, 35, 40]

In [33]:
num_list = [0,5,10,15,20,25,30,35,40]
new_list = num_list[2:5]

In [34]:
new_list

[10, 15, 20]

In [35]:
new_list[2] = 3

In [36]:
new_list

[10, 15, 3]

In [37]:
num_list

[0, 5, 10, 15, 20, 25, 30, 35, 40]

In [38]:
num_list = [0,5,10,15,20,25,30,35,40]
del num_list[2:5]
num_list

[0, 5, 25, 30, 35, 40]

In [39]:
word = 'Python'

In [44]:
num_list[slice(2,5,1)]

[25, 30, 35]

In [45]:
num_list

[0, 5, 25, 30, 35, 40]

In [46]:
num_list[2]='t'

In [47]:
num_list

[0, 5, 't', 30, 35, 40]

In [49]:
num_list[-1:-4:-1]

[40, 35, 30]

In [54]:
num_list = [0,5,10,15,20,25,30,35,40]

In [55]:
num_list[8:5:-1]

[40, 35, 30]

In [56]:
num_list[8:5]

[]

In [59]:
slice(1,2)

slice(1, 2, None)

In [60]:
num_list[slice(8)]

[0, 5, 10, 15, 20, 25, 30, 35]

In [62]:
num_list[slice(2,8,None)]

[10, 15, 20, 25, 30, 35]

In [64]:
num_list[slice(None,None,2)]

[0, 10, 20, 30, 40]

In [67]:
num_list[slice(1,None,1)]

[5, 10, 15, 20, 25, 30, 35, 40]

In [ ]:
slice(1,None,None)

measuring performance

creating a list

In [17]:
def map_filter():
    return list(builtins.map(lambda x:x**2, filter(lambda x:x%2==0, range(10))))

In [18]:
def list_comprehension():
    return [x**2 for x in range(10) if x%2==0]

In [19]:
def for_loop():
    square_num_list = []
    for x in range(10):
        if x%2==0:
            square_num_list.append(x**2)
    return square_num_list

In [4]:
import timeit

results

In [21]:
print(f'Time for a for loop: {timeit.timeit(for_loop, number=1000000)}')
print(f'Time for map and filter: {timeit.timeit(map_filter, number=1000000)}')
print(f'Time for a list comprehension: {timeit.timeit(list_comprehension, number=1000000)}')

Time for a for loop: 2.7358595999999977
Time for map and filter: 3.980326600000012
Time for a list comprehension: 2.65394790000002

In [22]:
def map_f():
    return list(builtins.map(lambda x:x**2, range(10)))

In [23]:
def list_comp():
    return [x**2 for x in range(10)]

In [2]:
def for_loop_2():
    square_list = []
    for x in range(10):
        square_list.append(x**2)
    return square_list

results

In [25]:
print(f'Time for a for loop: {timeit.timeit(for_loop_2, number=1000000)}')
print(f'Time for map: {timeit.timeit(map_f, number=1000000)}')
print(f'Time for a list comprehension: {timeit.timeit(list_comp, number=1000000)}')

Time for a for loop: 3.5020802999999887
Time for map: 4.0746793999999795
Time for a list comprehension: 3.3324222999999904

In [11]:
import builtins

reduce vs for loop vs built-in functions

In [16]:
from functools import reduce

In [31]:
def reduce_function(): 
    return reduce(lambda x,y:x*y, range(1,10))

In [32]:
def for_loop():
    product = 1
    
    for num in range(1,10):
        product*=num
    
    return product

In [17]:
import math

In [37]:
def builtin_prod():
    return math.prod(range(1,10))

In [33]:
for_loop()

362880

In [34]:
reduce_function()

362880

In [38]:
builtin_prod()

362880

In [39]:
print(f'Time for a for loop: {timeit.timeit(for_loop, number=1000000)}')
print(f'Time for reduce: {timeit.timeit(reduce_function, number=1000000)}')
print(f'Time for builtin prod function: {timeit.timeit(builtin_prod, number=1000000)}')

Time for a for loop: 1.0081427000004624
Time for reduce: 1.684817700000167
Time for builtin prod function: 0.5790908999997555

In [18]:
def reduce_prod(): 
    return reduce(lambda x,y:x*y, range(1,10))

In [19]:
def reduce_sum(): 
    return reduce(lambda x,y:x+y, range(1,10))

In [20]:
def reduce_max():
    return reduce(lambda x,y: x if x > y else y, range(1,10))

In [21]:
def reduce_min():
    return reduce(lambda x,y: x if x < y else y, range(1,10))

In [22]:
def math_prod():
    return math.prod(range(1,10))

In [23]:
def builtin_sum():
    return sum(range(1,10))

In [24]:
def builtin_max():
    return max(range(1,10))

In [25]:
def builtin_min():
    return min(range(1,10))

results

In [26]:
print(f'Time for reduce product: {timeit.timeit(reduce_prod)}')
print(f'Time for math prod: {timeit.timeit(math_prod)}')

print(f'Time for reduce sum: {timeit.timeit(reduce_sum)}')
print(f'Time for builtin sum: {timeit.timeit(builtin_sum)}')

print(f'Time for reduce max: {timeit.timeit(reduce_max)}')
print(f'Time for builtin max: {timeit.timeit(builtin_max)}')

print(f'Time for reduce min: {timeit.timeit(reduce_min)}')
print(f'Time for builtin min: {timeit.timeit(builtin_min)}')

Time for reduce product: 1.7645603999999366
Time for math prod: 0.5869173999999475
Time for reduce sum: 1.4824804999998378
Time for builtin sum: 0.4908693999998377
Time for reduce max: 1.6678851000001487
Time for builtin max: 0.591082900000174
Time for reduce min: 1.5096722000000682
Time for builtin min: 0.6109481999999389

In [33]:
print(f'Time for reduce sum: {timeit.timeit(reduce_sum)}')
print(f'Time for builtin sum: {timeit.timeit(builtin_sum)}')

Time for reduce sum: 1.4853292999905534
Time for builtin sum: 0.5378773999982513

In [34]:
def sum_for_loop():
    sum = 0
    
    for num in range(1,10):
        sum+=num
        
    return sum

In [35]:
timeit.timeit(sum_for_loop)

0.9099031999940053

In [36]:
def max_for_loop():
    max_num = 1
    
    for num in range(1,10):
        if num > max_num:
            max_num = num
    
    return max_num

In [37]:
max_for_loop()

9

In [39]:
timeit.timeit(max_for_loop)

1.25484010000946

In [51]:
def min_for_loop():
    min_num = 1
    
    for num in range(1,10):
        if num < min_num:
            min_num = num
    
    return min_num

In [52]:
min_for_loop()

1

In [53]:
timeit.timeit(min_for_loop)

0.8699733999965247

reduce with operator methods

In [56]:
import operator

In [65]:
def sum_reduce():
    return reduce(operator.add, range(1,10))

In [72]:
timeit.timeit(sum_reduce)

0.8503894999739714

In [71]:
timeit.timeit(sum_for_loop)

0.8764752999995835

In [5]:
num1, num2 = 11, 10
min = None
if num1 > num2:
    min = num2
else:
    min = num1

ternary operators

In [6]:
min

10

In [7]:
min = num2 if num1 > num2 else num1

In [8]:
min

10

python prompt

In [13]:
def add(num):
    return sum(range(num+1)) if type(num)==int else 0

In [14]:
add(5)

15

In [15]:
add('a')

0

In [18]:
def add_2(num):
    if type(num) == int:
        num_sum = 0
        for num in range(num+1):
            num_sum += num
        return num_sum
    else:
        return 0

In [19]:
add_2(5)

15

In [20]:
add_2('a')

0

In [4]:
from functools import reduce

In [23]:
def add_3(num):
    return reduce(lambda x,y: x+y, range(num+1)) if type(num) == int else 0

In [24]:
add_3(5)

15

In [25]:
add_3('a')

0

tqdm

In [56]:
from timeit import timeit
from tqdm.notebook import tqdm

In [36]:
def add(num):
    return reduce(lambda x,y: x+y, tqdm(range(num+1))) if type(num) == int else 0

In [60]:
add(50000000)

HBox(children=(FloatProgress(value=0.0, max=50000001.0), HTML(value='')))

1250000025000000

In [4]:
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm

df = pd.DataFrame(np.random.randint(0, 100, (100000, 600)))

# Register `pandas.progress_apply` and `pandas.Series.map_apply` with `tqdm`
# (can use `tqdm.gui.tqdm`, `tqdm.notebook.tqdm`, optional kwargs, etc.)
tqdm.pandas()

# Now you can use `progress_apply` instead of `apply`
# and `progress_map` instead of `map`
df.progress_apply(lambda x: x**2)

C:\Users\User\anaconda3\lib\site-packages\tqdm\std.py:668: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

HBox(children=(FloatProgress(value=0.0, max=600.0), HTML(value='')))

,0,1,2,3,4,5,6,7,8,9,...,590,591,592,593,594,595,596,597,598,599
0,784,8100,361,9,7921,3600,6724,64,1,4624,...,9604,2209,5041,64,2116,4900,169,4761,484,169
1,9,3136,961,5476,7396,3364,5625,9216,6724,9025,...,4761,9604,7056,196,5929,576,5476,2704,441,5929
2,196,25,225,49,8100,676,1521,529,625,2116,...,3721,3721,5041,1444,4096,8649,7396,4624,4900,1936
3,1369,441,16,5776,441,225,7225,289,484,6400,...,169,5625,289,5776,3364,1600,9,9,169,196
4,1600,3364,5929,289,2704,2025,1849,1024,4096,144,...,1600,3969,3136,6889,4624,4761,4624,4761,16,5929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1600,1849,1849,3721,441,2916,1296,5476,5041,1225,...,361,9604,100,7056,81,5476,3364,4225,1225,1444
99996,4096,81,2809,169,4225,225,2704,1764,1369,8649,...,5625,2116,9,625,2916,2209,2704,3136,36,289
99997,6400,441,169,4489,576,6724,1764,1849,5776,5776,...,2401,4096,4624,961,9801,1,1089,9025,2809,7921
99998,2500,4096,576,36,7569,6889,1369,2209,289,6400,...,225,1156,9025,4900,1,4900,576,64,841,0
99999,1521,3844,5625,16,784,1764,529,1089,7396,1369,...,169,1296,3969,3844,6561,81,1764,2304,7056,2500