looping through a list

In [1]:
num_list= [42, 56, 39, 59, 99]

In [3]:
# Looping through list using range()

for i in range(len(num_list)): 
    print(i, num_list[i])

0 42
1 56
2 39
3 59
4 99

In [4]:
# Looping through list using enumerate()

for index, element in enumerate(num_list):
    print(index, element)

0 42
1 56
2 39
3 59
4 99

In [5]:
# List of tuples using enumerate()

name_list = ['Jane', 'John', 'Mike']

list(enumerate(name_list))

[(0, 'Jane'), (1, 'John'), (2, 'Mike')]

lambda expressions

In [13]:
def square(num):
   return num**2

In [14]:
square(3)

9

In [7]:
square = lambda num:num**2

In [8]:
square(3)

9

In [9]:
# using def keyword that returns the sum of num1 and num2
def sum(num1, num2):
  return num1 + num2

In [10]:
sum(5,9)

14

In [11]:
# can assign the lambda function to a variable
sum = lambda num1, num2: num1 + num2

In [12]:
sum(5,9)

14

map and filter functions

In [15]:
num_list_squared = list(map(square, [1,2,3,4,5]))

In [16]:
num_list_squared

[1, 4, 9, 16, 25]

In [17]:
num_list_even = list(filter(lambda num:num%2==0, [1,2,3,4,5]))

In [18]:
num_list_even

[2, 4]