In [1]:
num_list= [42, 56, 39, 59, 99]

In [3]:
# Looping through list using range()

for i in range(len(num_list)): 
    print(i, num_list[i])

0 42
1 56
2 39
3 59
4 99

In [4]:
# Looping through list using enumerate()

for index, element in enumerate(num_list):
    print(index, element)

0 42
1 56
2 39
3 59
4 99

In [5]:
# List of tuples using enumerate()

name_list = ['Jane', 'John', 'Mike']

list(enumerate(name_list))

[(0, 'Jane'), (1, 'John'), (2, 'Mike')]