looping through a list

In [1]:
num_list= [42, 56, 39, 59, 99]

In [3]:
# Looping through list using range()

for i in range(len(num_list)): 
    print(i, num_list[i])

0 42
1 56
2 39
3 59
4 99

In [4]:
# Looping through list using enumerate()

for index, element in enumerate(num_list):
    print(index, element)

0 42
1 56
2 39
3 59
4 99

In [5]:
# List of tuples using enumerate()

name_list = ['Jane', 'John', 'Mike']

list(enumerate(name_list))

[(0, 'Jane'), (1, 'John'), (2, 'Mike')]

lambda expressions

In [13]:
def square(num):
   return num**2

In [14]:
square(3)

9

In [7]:
square = lambda num:num**2

In [8]:
square(3)

9

In [9]:
# using def keyword that returns the sum of num1 and num2
def sum(num1, num2):
  return num1 + num2

In [10]:
sum(5,9)

14

In [11]:
# can assign the lambda function to a variable
sum = lambda num1, num2: num1 + num2

In [12]:
sum(5,9)

14

map and filter functions

In [15]:
num_list_squared = list(map(square, [1,2,3,4,5]))

In [16]:
num_list_squared

[1, 4, 9, 16, 25]

In [17]:
num_list_even = list(filter(lambda num:num%2==0, [1,2,3,4,5]))

In [18]:
num_list_even

[2, 4]

reduce function

In [19]:
from functools import reduce

In [20]:
product = reduce(lambda x,y:x*y, [1,2,3,4,5])

In [21]:
product

120

In [22]:
sum = reduce(lambda x,y:x+y, [1,2,3,4,5])

In [23]:
sum

15

In [26]:
max_num = reduce(lambda x,y:x if x > y else y, [1,2,3,4,5,3])

In [27]:
max_num

5

In [28]:
min_num = reduce(lambda x,y:x if x < y else y, [1,2,3,4,5,3])

In [29]:
min_num

1

return a list that contains the numbers that occured more than once

In [1]:
def count(num_list):
    result = []
    
    for num in num_list:
        if num_list.count(num) > 1 and num not in result:
            result.append(num)
            
    return result

In [2]:
count([1,1,1,3,4,5,4,6,7,7])

[1, 4, 7]

In [3]:
def count(num_list):
    
    return set([num for num in num_list if num_list.count(num) > 1])

In [4]:
count([1,1,1,3,4,5,4,6,7,7])

{1, 4, 7}

find the factorial

In [16]:
def factorial(num):
    product = 1
    
    for num in range(1,num+1):
        product *= num
    
    return product

In [17]:
factorial(3)

6

In [15]:
from functools import reduce

In [11]:
def factorial(num):
    return reduce(lambda x,y:x*y, range(1,num+1))

In [13]:
factorial(3)

6

In [19]:
import numpy as np

In [20]:
def factorial(num):
    return np.prod(range(1,num+1))

In [21]:
factorial(3)

6

is string a palindrome

In [22]:
def pallindrome(string):
    return string == string[::-1]

In [23]:
pallindrome('hello')

False

In [24]:
pallindrome('lol')

True

id counter

In [53]:
def id_counter(ids):
    id_dict = {}
    
    for id in ids:
        if id.split('-')[1] not in id_dict:
            id_dict[id.split('-')[1]] = 1
        else:
            id_dict[id.split('-')[1]] += 1
    
    return id_dict

In [54]:
d = ['adf-ID', 'adf-ID', 'df-UI']

In [55]:
id_counter(d)

{'ID': 2, 'UI': 1}

In [60]:
def id_counter(ids):
    id_dict = {}
    
    for id in ids:
        id_dict[id.split('-')[1]] = id_dict.get(id.split('-')[1], 0) + 1
    
    return id_dict

In [61]:
id_counter(d)

{'ID': 2, 'UI': 1}

In [56]:
def id_counter(ids):
    id_dict = {}
    ids = [id.split('-')[1] for id in ids]
    
    for id in ids:
        id_dict[id] = ids.count(id)

    return id_dict

In [57]:
id_counter(d)

{'ID': 2, 'UI': 1}

In [58]:
def id_counter(ids):
    ids = [id.split('-')[1] for id in ids]
    
    return {id : ids.count(id) for id in ids}

In [59]:
id_counter(d)

{'ID': 2, 'UI': 1}

sorting

In [84]:
d = {'b':1,'a':3,'c':4}

In [87]:
d_i = sorted(d.items(), key=lambda kv:kv[1])

In [88]:
d_i

[('b', 1), ('a', 3), ('c', 4)]

In [91]:
list_of_tuples = [
    ('john', 27, 45000),
    ('jane', 25, 65000),
    ('beth', 31, 70000)
]

In [92]:
sorted_age_list = sorted(list_of_tuples, key = lambda person: person[1])

In [93]:
sorted_age_list

[('jane', 25, 65000), ('john', 27, 45000), ('beth', 31, 70000)]

In [95]:
sorted(list_of_tuples, key = lambda person: person[0])

[('beth', 31, 70000), ('jane', 25, 65000), ('john', 27, 45000)]

In [96]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [97]:
num_tuple = (5,2,53,9,25)

In [98]:
sorted(num_tuple)

[2, 5, 9, 25, 53]

In [102]:
sorted('dinosaur')

['a', 'd', 'i', 'n', 'o', 'r', 's', 'u']

In [103]:
dictionary_of_names = {'beth': 37, 'jane': 32, 'john': 41, 'mike': 59}

In [108]:
print(sorted(dictionary_of_names))

['beth', 'jane', 'john', 'mike']

In [114]:
print(dictionary_of_names.items())

dict_items([('beth', 37), ('jane', 32), ('john', 41), ('mike', 59)])

In [121]:
new_dict = sorted(dictionary_of_names.items(), key=lambda kv:kv[1])

In [122]:
new_dict

[('jane', 32), ('beth', 37), ('john', 41), ('mike', 59)]

In [123]:
print(dict(new_dict))

{'jane': 32, 'beth': 37, 'john': 41, 'mike': 59}

In [117]:
new_dict_2 = sorted(dictionary_of_names.items())

In [118]:
new_dict_2

[('beth', 37), ('jane', 32), ('john', 41), ('mike', 59)]

In [2]:
# can't compare strings to nums or vice versa

sorted(['a','c','b',1,5,2])

TypeError: '<' not supported between instances of 'int' and 'str'

In [126]:
num_list = [1,-5,3,-9,25,10]
def absolute_value(num):
    return abs(num)
num_list.sort(key = absolute_value)
print(num_list) 
# [1,3,-5,-9,10,25]

[1, 3, -5, -9, 10, 25]

In [3]:
num_list = [1,-5,3,-9,25,10]

num_list.sort(key = abs)
print(num_list) 
# [1,3,-5,-9,10,25]

[1, 3, -5, -9, 10, 25]

In [4]:
num_list = [1,-5,3,-9,25,10]

num_list.sort(key = lambda x:abs(x))
print(num_list) 
# [1,3,-5,-9,10,25]

[1, 3, -5, -9, 10, 25]

In [145]:
# sort dictionaries

list_of_tuples = [
    ('john', 27, 45000),
    ('jane', 25, 65000),
    ('joe', 25, 35000),
    ('beth', 31, 70000)
]

In [146]:
sorted(list_of_tuples, key=operator.itemgetter(1,2))

[('joe', 25, 35000),
 ('jane', 25, 65000),
 ('john', 27, 45000),
 ('beth', 31, 70000)]

formatting strings

format method vs f strings

In [2]:
first_name = 'John'
last_name = 'Doe'
age = 43

In [10]:
sentence = '{} {} is {} years old'.format(first_name, last_name, age)

In [11]:
sentence

'John Doe is 43 years old'

In [4]:
sentence = first_name + ' ' + last_name + ' is ' + str(age) + ' years old'

In [5]:
sentence

'John Doe is 43 years old'

In [6]:
first_name = 'John'
last_name = 'Doe'
age = 43
sentence = '{first} {last} is {age_yrs} years old'.format(last=last_name, age_yrs=age, first=first_name)
print(sentence)
# 'John Doe is 43 years old'

John Doe is 43 years old

In [7]:
first_name = 'John'
last_name = 'Doe'
age = 43
sentence = f'{first_name} {last_name} is {age} years old'
print(sentence)
# 'John Doe is 43 years old'

John Doe is 43 years old

In [13]:
first_name = 'John'
last_name = 'Doe'
age = 43
sentence = f'{first_name.upper()} {last_name.lower()} is {age} years old'
print(sentence)
# 'JOHN doe is 43 years old'

JOHN doe is 43 years old

In [2]:
first_name = 'John'
last_name = 'Doe'
age = 43
sentence = f'{last_name, first_name} is {age} years old'
print(sentence)
# 'John Doe is 43 years old'

('Doe', 'John') is 43 years old

In [3]:
first_name = 'John'
last_name = 'Doe'
age = 43
sentence = f'{last_name.upper(), first_name.lower()} is {age} years old'
print(sentence)
# 'John Doe is 43 years old'

('DOE', 'john') is 43 years old

expressions within {} in f-string

In [4]:
sentence = f'{5 * 5} years old'
print(sentence)

25 years old

list comprehensions within f strings

In [7]:
sentence = f'Hello list: {[x**2 for x in range(3)]}'
print(sentence)

Hello list: [0, 1, 4]

map function within {} in f-string

In [9]:
sentence = f'Hello list: {list(map(lambda x: x**2, range(3)))}'
print(sentence)

Hello list: [0, 1, 4]

set vs. lists

In [1]:
num_list = [1,3,5,3,2,5,5]

In [2]:
num_list

[1, 3, 5, 3, 2, 5, 5]

In [3]:
set(num_list)

{1, 2, 3, 5}

In [4]:
len(num_list)

7

In [6]:
len(set(num_list))

4

can check if there are duplicates using sets and lists

In [9]:
def duplicates_present(nums):
    return len(nums) != len(set(nums))

In [10]:
duplicates_present(num_list)

True

In [11]:
duplicates_present([1,2,3])

False

return a sequence of the duplicates present using sets and lists

In [12]:
def duplicates(nums):
    return set([num for num in nums if nums.count(num) > 1])

In [13]:
duplicates(num_list)

{3, 5}

In [14]:
duplicates([1,2,3])

set()

In [15]:
def duplicates(nums):
    duplicates = set([num for num in nums if nums.count(num) > 1])
    return duplicates if len(duplicates) > 0 else 'No Duplicates'

In [16]:
duplicates(num_list)

{3, 5}

In [17]:
duplicates([1,2,3])

'No Duplicates'

In [1]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [2]:
num_list = [1,2,3,4,5]

In [3]:
dir(num_list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [5]:
num_list_iterator = iter(num_list)

In [6]:
dir(num_list_iterator)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__length_hint__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']