looping through a list

In [1]:
num_list= [42, 56, 39, 59, 99]

In [3]:
# Looping through list using range()

for i in range(len(num_list)): 
    print(i, num_list[i])

0 42
1 56
2 39
3 59
4 99

In [4]:
# Looping through list using enumerate()

for index, element in enumerate(num_list):
    print(index, element)

0 42
1 56
2 39
3 59
4 99

In [5]:
# List of tuples using enumerate()

name_list = ['Jane', 'John', 'Mike']

list(enumerate(name_list))

[(0, 'Jane'), (1, 'John'), (2, 'Mike')]

lambda expressions

In [13]:
def square(num):
   return num**2

In [14]:
square(3)

9

In [7]:
square = lambda num:num**2

In [8]:
square(3)

9

In [9]:
# using def keyword that returns the sum of num1 and num2
def sum(num1, num2):
  return num1 + num2

In [10]:
sum(5,9)

14

In [11]:
# can assign the lambda function to a variable
sum = lambda num1, num2: num1 + num2

In [12]:
sum(5,9)

14

map and filter functions

In [15]:
num_list_squared = list(map(square, [1,2,3,4,5]))

In [16]:
num_list_squared

[1, 4, 9, 16, 25]

In [17]:
num_list_even = list(filter(lambda num:num%2==0, [1,2,3,4,5]))

In [18]:
num_list_even

[2, 4]

reduce function

In [19]:
from functools import reduce

In [20]:
product = reduce(lambda x,y:x*y, [1,2,3,4,5])

In [21]:
product

120

In [22]:
sum = reduce(lambda x,y:x+y, [1,2,3,4,5])

In [23]:
sum

15

In [26]:
max_num = reduce(lambda x,y:x if x > y else y, [1,2,3,4,5,3])

In [27]:
max_num

5

In [28]:
min_num = reduce(lambda x,y:x if x < y else y, [1,2,3,4,5,3])

In [29]:
min_num

1

return a list that contains the numbers that occured more than once

In [1]:
def count(num_list):
    result = []
    
    for num in num_list:
        if num_list.count(num) > 1 and num not in result:
            result.append(num)
            
    return result

In [2]:
count([1,1,1,3,4,5,4,6,7,7])

[1, 4, 7]

In [3]:
def count(num_list):
    
    return set([num for num in num_list if num_list.count(num) > 1])

In [4]:
count([1,1,1,3,4,5,4,6,7,7])

{1, 4, 7}

find the factorial

In [16]:
def factorial(num):
    product = 1
    
    for num in range(1,num+1):
        product *= num
    
    return product

In [17]:
factorial(3)

6

In [15]:
from functools import reduce

In [11]:
def factorial(num):
    return reduce(lambda x,y:x*y, range(1,num+1))

In [13]:
factorial(3)

6

In [19]:
import numpy as np

In [20]:
def factorial(num):
    return np.prod(range(1,num+1))

In [21]:
factorial(3)

6

is string a palindrome

In [22]:
def pallindrome(string):
    return string == string[::-1]

In [23]:
pallindrome('hello')

False

In [24]:
pallindrome('lol')

True

id counter

In [53]:
def id_counter(ids):
    id_dict = {}
    
    for id in ids:
        if id.split('-')[1] not in id_dict:
            id_dict[id.split('-')[1]] = 1
        else:
            id_dict[id.split('-')[1]] += 1
    
    return id_dict

In [54]:
d = ['adf-ID', 'adf-ID', 'df-UI']

In [55]:
id_counter(d)

{'ID': 2, 'UI': 1}

In [60]:
def id_counter(ids):
    id_dict = {}
    
    for id in ids:
        id_dict[id.split('-')[1]] = id_dict.get(id.split('-')[1], 0) + 1
    
    return id_dict

In [61]:
id_counter(d)

{'ID': 2, 'UI': 1}

In [56]:
def id_counter(ids):
    id_dict = {}
    ids = [id.split('-')[1] for id in ids]
    
    for id in ids:
        id_dict[id] = ids.count(id)

    return id_dict

In [57]:
id_counter(d)

{'ID': 2, 'UI': 1}

In [58]:
def id_counter(ids):
    ids = [id.split('-')[1] for id in ids]
    
    return {id : ids.count(id) for id in ids}

In [59]:
id_counter(d)

{'ID': 2, 'UI': 1}